<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoviWebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="navbar-header">MoviWebApp</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('list_users') }}" class="navbar">Home</a></li>
            <li><a href="#" class="navbar">Add movie</a></li>
            <li><a href="#" class="navbar">Update movie</a></li>
            <li><a href="#" class="navbar">Delete movie</a></li>
        </ul>
    </nav>
    <main class="container">
            {% block content %}{% endblock %}
    </main>`
</body>
</html>